@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

:root{
  --background-color: #2e3440;
  --foreground-color: #eceff4;
  --button-background: blue;
  --alert-color: #fb4934;
}

html, body, #root, .App {
  min-height: 100vh;
}

#root{
  display:flex;
  flex-direction: column;
  background: url(https://media.discordapp.net/attachments/989253918158631022/996104377263722617/unknown.png?width=1008&height=285);
  background-size: cover;
  background-color: currentColor;
}

.cadastro--div, .form--div, .edit--div{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.form--form, .edit--form, .cadastro--form{
  padding: 20px;
  padding-bottom: 35px !important;
  background-color: var(--background-color);
}

.edit--form{
  padding-left:35px !important;
  padding-right: 35px !important;
}

.page--title, .edit--title, .form-label, .cadastro--title{
  text-align: center;
  padding-bottom: 10px;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.page--title{
  padding-top: 10px;
}

body {
  margin: 0;
  /*
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   */
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table{
  background-color: #ffff;
}

.bar--title, .sidebar--title, .table--title{
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation--options {
  margin-top: auto;
  list-style: none;
  display: flex;
}

.navigation--options > li{
  padding-right: 15px;
  color: var(--foreground-color);
}

.bar{
  background-color: var(--background-color);
}

.link,
.link:hover,
.link:visited,
.link:active {
  color: var(--foreground-color);
  text-decoration: none;
  height: fit;
}


.link:hover{
  color: #5E81AC;
}

.table {
  width: 100%;
}

.table--action {
  width: 30px;
  cursor: pointer;
}

.table--colID {
  width: 40px;
}

.form--container{
  background-color: var(--color-background);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.sidebar--header{
  display: flex;
  background-color: var(--color-background);
  height: inherit;
}

.sidebar--input--id{
  width: 40px;
}

.sidebar--input--id, .sidebar--input--name, .sidebar--input--cpf{

}

.input-group{
  width: 50%;
  padding-left: 15px;
}

.form--form, .edit--form{
  padding:15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: inherit;
}


.form--title, .edit--title{
  padding: 10px;
}

.search--form{
  margin: unset;
  padding: 8px;
}

.navbar{
  padding: unset !important;
}

#root > div > form > div.btn-group > button.btn.btn-primary{
  background-color: var(--button-background);
  color: var(--foreground-color)
}

#root > div > form > div.btn-group > button.btn.btn-danger{
  background-color: var(--alert-color);
  color: var(--foreground-color);
}

.navbar {
  background-color: var(--background-color);
}
